body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

.table-container {
    width: 100vw; 
    height: 100vh; 
}

.table {
    width: 100%;
    height: 100%; 
    border-collapse: collapse;
    table-layout: fixed;
}

.table td {
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
.table, tbody, tr, td {
    display: block;
    width: 100%;
}

.table td {
    height: 50vh; 
    line-height: 50vh; 
}
}